.home {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;      /* Center horizontally */
  height: 50vh;            /* Full screen height */
  background-color: #f4f4f4;
  text-align: center;
}

.home h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
}

.typing-effect {
  font-size: 24px;
  color: #333232;
  width: 38ch; /* Number of characters in your text */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #555;
  animation: typing 4s steps(38), blink 0.5s step-end infinite alternate;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38ch;
  }
}

/* Blinking cursor animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.resume-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1b1919;
 ;
  text-decoration: none;
  border-radius: 5px;
  font-family:sans-serif;
  transition: background-color 0.3s ease;
}
.resume-button:hover {
  background-color: #313232;
}