html {
  scroll-behavior: smooth;
}

.nav-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px 20px;
  border-radius: 8px;
}

.nav-description {
  flex: 1;
  font-size: 16px;
  color: #555;
}

.nav-button {
  padding: 10px 15px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.section-block {
  margin-top: 60px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}



.typing-effect {
  font-size: 20px;
  color: #555;
  width: 38ch; /* Adjust based on the length of your text */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #555; /* cursor */
  animation: typing 6s steps(38), blink 0.7s step-end infinite alternate;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38ch;
  }
}

/* Cursor blinking */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
