* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f9;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  padding: 20px 40px;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #61dafb;
}

/* Section Styling */
.section {
  background-color: #fff;
  padding: 40px 30px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #007acc;
  margin-bottom: 20px;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section a {
  color: #007acc;
  text-decoration: none;
}

.section a:hover {
  text-decoration: underline;
}


/* Footer */
.footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
}
